body{
	background-color: black;
	color:#FFADB9;
	text-align: center;
}
#breezyEnt{
	font-style: italic;
	font-weight: bold;
	color:#00FFCC;
}
h1{
	font-size: 40px;
}
h3{
	text-decoration: underline;
}

#musicSection{
	color:#00FFCC;
}
#homePageInfo{
	color:#00FFCC;
	border-radius: 15px;
	width:85%;
	margin-left: auto;
	margin-right: auto;
}
#aboutSection{
	margin:4px;
	border-radius: 15px;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	color:#00FFCC;
	border-width: 4px;
	border-style: solid;
	border-color: #FFADB9;
	font-size:20px;


}
footer{
	position: relative;
	text-align: right;
	bottom:0;
	right:0;
}
#constructionNote{
	color:silver;
	font-weight: normal;
}
#contactInfoSection{
	margin-top:2px;
	border-radius: 15px;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	color:#00FFCC;
	font-size: 150%;
}
ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align:center;
}
li{
	display:inline;
	padding: 15px;
	vertical-align: middle;
}
a{
	color:black;
	padding:4px;
	line-height:40px;
	vertical-align: middle;
	font-size: 40px;
	background-color: #FFADB9;
	border-width: 4px;
	border-style: solid;
	border-color: silver;
	border-radius:15px;
	text-decoration: none;
}
