body{
	background-color: #2f4f4f;
	color:#ff1493;
	text-align: center;
}
#breezyEnt{
	font-style: italic;
	font-weight: bold;
}
h3{
	text-decoration: underline;
}
#homePageInfo{
	color:black;
	border-radius: 15px;
	width:85%;
	margin-left: auto;
	margin-right: auto;
}
#aboutSection{
	margin:4px;
	border-radius: 15px;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	color:white;
	border-width: 4px;
	border-style: solid;
	border-color: #ff1493;
	font-size:20px;

}
#constructionNote{
	color:white;
}
#contactInfoSection{
	margin-top:2px;
	color:black;
	border-radius: 15px;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	color:#ff1493;
	font-size: 150%;
}
ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align:center;
}
li{
	display:inline;
	padding: 15px;
	vertical-align: middle;
}
a{
	color:lime;
	vertical-align: middle;
	font-size: 40px;
}
